
    <p>
         <%= @greeting %>,
    </p>
       
     <p> 
         <%=@body%>
     </p>
     
     <p>
       Best regards.
     </p>
     <p>
       <%= @sender_name %>
     </p>
     <div>
     Head Assessment Unit<br/>
     Business Development Team<br/>
     Knowledge Transfer Department<br/>
     Acesa Dubai Srl.<br/>
     </div>
     <p>
         1115 Saint-Antoine Street West,<br/>
         Deloitte Tower, Level 15,<br/>
         Montreal QC H3C,<br/>
         Quebec, Canada<br/>
     </p>
