// Place all the styles related to the massmails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centre
}
.my-flex-container1{
align-items: flex-end;
}
.my-flex-container2{
align-items: flex-start;
}
.my-flex-block {
width: 100px;  
height: 100px; 
margin: auto;  
flex-direction: row;
}
.my-flex-block2 {
margin: auto;
align-content: flex-end; 
}